@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Koulen&family=Lora&family=Roboto&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Roboto', sans-serif;
 	font-weight: bold;
 	margin: 0px;
}
 h1, h2, h3{
	font-family: 'Lora', sans-serif;
    font-size: 30px;
}
a{
	text-decoration: none;
}
